body{
    font-family: 'Fira Sans';
    background: #d1e6da;
}
.header_div{
    background:rgb(130, 152, 154);
   color: rgb(255, 255, 255);
}
.header_div p{
    font-family: 'Fira Sans';
    color: #ffffff;
    letter-spacing: normal;
    font-size: 20px;
    font-weight: bold;

}
.main_div boton{
   font-family:'Fira Sans' ;
   margin-top: 30px;
   width: 200px;
   font-weight: bolder; 
   letter-spacing: 3px;
   font-size: 30px;
}
.copy_right_footer{
    position: fixed;
    color:rgb(23, 108, 142) ;
    width: 100%;
    font-size: 18px;
    background-color: #ffffff;
    text-align: center;
    line-height: 3 ;
    text-shadow: 5px 5px 5px rgb(red, green, blue);
}
